{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.title }}
{% endblock %}

{% block body %}

	<div class="media container">
		<div class="text-center m-5">
			<img class="align-self-start mr-3 w-25" src="{{program.poster}}" alt="{{ program.title }} poster">
		</div>
		<div class="media-body">
			<h1 class="mt-0 text-center">{{ episode.number }}
				-
				{{ episode.title }}</h1>
			<p>Saison :
				{{ season.number }}</p>
			<p>{{ episode.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<br/><br/><br/><br/><br/>
		</div>
    	<a href="{{ path('episode_edit', {'slug': episode.slug}) }}">Modifier</a></br>
		<a href="{{ path('program_index') }}">
			Retour à la liste des séries
		</a>
	</br>
	<a href="{{ path('program_show', {slug: program.slug}) }}">
		Retour à la liste des saisons
	</a>
	</br>
	<a href="{{ path('program_season_show', {slug: program.id, season: season.id}) }}">
		Retour à la liste des épisodes
	</a>
</div>{% endblock %}
