{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.title }}
{% endblock %}

{% block body %}

	<div class="media container">
		<div class="text-center m-5">
			<img class="align-self-start mr-3 w-25" src="{{program.poster}}" alt="{{ program.title }} poster">
		</div>
		<div class="media-body">
			<h1 class="mt-0 text-center">{{ program.title }}</h1>
			<p>{{ season.description }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			{% for episode in episodes %}
				<li>
					Episode {{ episode.number }}
					{{ episode.title}}
				</li>
			{% endfor %}
			<br/><br/><br/><br/><br/>
		</div>
		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
		</br>
		<a href="{{ path('program_show', {id: program.id}) }}">
			Retour à la liste des saisons
		</a>

	</div>


{% endblock %}
